<!-- Google Sign-In API script for handling logging in -->
<script>
    function onSignIn (googleUser) {
        console.log(googleUser);

        /* Sending /auth/login POST request to server. */
        var idToken = googleUser.getAuthResponse().id_token;
        var request = new XMLHttpRequest();

        request.open('POST', 'https://devices-tracking-server.herokuapp.com/auth/login');
        request.setRequestHeader('Accept', 'application/json');
        request.setRequestHeader('Authorization', idToken);
        request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');

        request.onload = function () {
            /* Passing UID to the controller. */
            var uid = JSON.parse(request.responseText).uid;

            angular.element(document).ready(function() {
                var controllerElement = document.querySelector('#showMapButton');
                var controllerScope = angular.element(controllerElement).scope();

                controllerScope.email = googleUser.getBasicProfile().getEmail();
                controllerScope.uid = uid;
            });
        };

        request.send('email=' + googleUser.getBasicProfile().getEmail());

        /* Passing token to the controller. */
        angular.element(document).ready(function() {
            var controllerElement = document.querySelector('#showMapButton');
            var controllerScope = angular.element(controllerElement).scope();
            controllerScope.authToken = idToken;
        });

        /* Updating view. */
        $("#logoutButton").show();
        $("#showMapButton").show();
    }

    function onLoad() {
        gapi.load('auth2,signin2', function() {
            if(gapi.auth2.getAuthInstance() == null) {
                gapi.auth2.init({
                    'client_id': '583088429615-npskj15ed319bim2k7a43ied661hm3jq.apps.googleusercontent.com'
                });
            }

            gapi.signin2.render('google_signin_button', {
                'onsuccess': 'onSignIn'
            });
        });
    }
</script>

<!-- Google Sign-In button -->
<div style="text-align: center;">
    <button id="logoutButton" class="centeredCustomButton" ng-click="signOut()">Logout</button>
    <button id="showMapButton" class="centeredCustomButton" ng-click="showMap()">Show map</button>
    <br/><br/>
    <div id="google_signin_button" style="width: 100px; height: auto; margin: 0 auto; position: relative;"></div>
</div>

<!-- Google Sign-In API script -->
<script src="https://apis.google.com/js/platform.js?onload=onLoad"></script>
